@import "tailwindcss";

:root {
  --font-roman: "Cinzel", serif;
  --font-mont: "Montserrat", serif;
}

@layer utilities {
  .font-roman {
    font-family: var(--font-roman);
  }
  .font-mont {
    font-family: var(--font-mont);
  }
}

.shimmer {
  background: linear-gradient(90deg, #2b2f3a 25%, #3a4150 50%, #2b2f3a 75%);
  background-size: 200% 100%;
  animation: shimmer 1.4s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
